/*ALL*/
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

body {
    background: #F5F5F5;
}

img {
    cursor: pointer;
}

/*HEADER*/
.header {
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.active__frame {
    border-bottom: 2px solid #23B04A;
}

.active__text {
    color: #23B04A;
    padding: 16px 16px 14px 16px;
}

.default__frame {
    border-bottom: none;
    cursor: pointer;
}

.default__text {
    color: rgba(0, 0, 0, 0.60);
    padding: 16px;
}

.header__logo {
    display: flex;
    width: 132px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    align-self: stretch;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__user:hover {
    -webkit-filter: drop-shadow(0 0 5px #23B04A);
    filter: drop-shadow(0 0 5px #23B04A);
}

.menu__dash {
    display: flex;
    align-items: center;
}

.menu__analytics {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu__text {
    display: flex;
    margin: 0 20px;
    align-items: center;
    gap: 8px;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

/*SECTION*/
.container {
    display: flex;
    position: relative;
    gap: 48px;
    flex-direction: column;
}

/*MAIN*/
main {
    display: flex;
    padding: 52px 24px;
    flex-direction: column;
    column-gap: 48px;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
    align-content: space-around;
}

/*SEARCH*/
.search__frame {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: 936px;
    align-self: stretch;
}

/*label {
    visibility: hidden;
}*/

form {
    display: flex;
    width: 100%;
    padding: 16px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    flex-wrap: nowrap;
}

.search__input {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
    background: #F5F5F5;
}

/*FAV*/
.fav__frame {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.fav__heading {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cart__frame {
    display: flex;
    padding: 0 12px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #FFF;
}

h3 {
    color: rgba(0, 0, 0, 0.60);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.15px;
}

/*TABLE*/
table {
    width: 100%;
}

tr {
    gap: 16px;
}

.table__heading {
    height: 44px;
    color: rgba(0, 0, 0, 0.60);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.table__row {
    padding: 8px 0 7px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.select__frame {
    display: flex;
    padding: 2px 4px 2px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.38);
}

.select__frame:hover {
    background: rgba(33, 33, 33, 0.08);
}

.select__frame option:checked[value="2"] {
    display: inline-flex;
    padding: 2px 4px 2px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.38);
}

.select__frame option:checked[value="3"] {
    display: flex;
    width: 97px;
    padding: 2px 4px 2px 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #23B04A;
}

.select__frame {
    color: rgba(0, 0, 0, 0.60);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
}

option {
    color: rgba(0, 0, 0, 0.60);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
}

.button__notify {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background-color: #FFF;
}

.status__frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin: 15px 0;
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}